img {
  height: 550px;
  width: 400px;
}
select {
  width: 150px;
  font-family: inherit;
  margin-bottom: 50px;
}
.reviews {
  background-color: white;
  margin: 10px 50px 10px 50px;
  padding: 20px 20px 20px 20px;
  border: thin solid #6d6b6759;
}